input {
    display: block;
    box-sizing: border-box;
    margin: 20px 0px 0px 0px;
    padding: 1.2em 1em 1em 1em;
    width: 100%;
}

h3 {
    margin-right: auto;
    margin-top: 0;
    padding-top: 25px;
}

label {
    display: block;
    color: #999;
    transform: translate(1rem, -2rem);
    transition: all 0.2s ease-out;
}

input:focus + label, 
input:not(:placeholder-shown) + label {
    color: #111;
    transform: translate(1em, -3rem);
}

#fileInput {
    padding: 0%;
}

.invalidInput {
    border: 2px solid #E34B3A;
}

.invalidInput + label {
    color: #E34B3A;
}

.btnDiv {
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: #C2C8CE;
    border: none;
    border-radius: 2em;
    padding: 1em 2em 1em 2em;
    color: #54585c;
    cursor: pointer;
}

.main {
    background-color: #e4e4e4;
}

.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.formContainer {
    display: flex;
    flex-direction: column;
}