h1 {
    font-weight: bold;
}

div {
    display: flex;
    justify-content: space-between;
}

div > button {
    background-color: #51D5AD;
    color: #fff;
    border: none;
    border-radius: 35px;
    text-align: center;
    text-decoration: none;
    padding: 15px 35px;
    display: inline-block;
}

div > input {
    padding: 1em;
}

#records {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    color: #45187F;
    font-weight: bold;
}

button > a {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
}

.gameList {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
}

.gameCard {
    margin-right: 25px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.cardItem {
    justify-content: flex-start;
}

#btnDelete {
    background-color: red;
    font-weight: bold;
    padding: 10px 35px;
}

div > p {
    margin: 0.5em 0 0.5em 0;
}